// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.store {
	h1 {
		margin: 0;
		border-bottom: 1px solid red;
		}
		
	/* An entry in the store catalog */
	.entry {
		overflow: auto;
		min-height: 100px;
		}
	img {
		width: 80px;
		position: absolute;
		margin: 0 5px 5px 0;
		}	
	}